@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: "Open Sans", serif;
    transition: background-color 0.3s ease;
}
