@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: "Open Sans", serif;
    transition: background-color 0.3s ease;
}

.body {
    background-color: #FFF;
    min-height: 100%;
    color: rgb(87, 87, 87)
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(37, 37, 37);
}

.nav a:hover, .language_elem:hover {
    background-color: #fbbbbb;
    cursor: pointer;
}
.nav a#active {
    background-color: #ff0000;
    color: #FFF;
}

.nav a, .language_elem {
    text-decoration: none;
    color: #212121;
    font-size: 1.5em;
    align-self: center;
}

.footer {
    grid-area: f;
    background: rgba(77, 77, 77, 0.404);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 12px 12px 0px 0px;
}

.header {
    grid-area: h;
    background-color: rgba(230, 228, 228, 0.788);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 3px 1px grey;
}

.logo {
    grid-area: l;
    background-image: url("../img/PizzaCompanyLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.lnk1 {
    grid-area: lnk1;
}

.lnk2 {
    grid-area: lnk2;
}

.logout {
    grid-area: log / reg;
}

.login {
    grid-area: log;
}

.register {
    grid-area: reg;
}

.hidden {
    display: none;
}
.content {
    grid-area: c;
    background-color: #FFF;
    border-radius: 5px 5px 15px 15px;
    box-shadow: 1px 2px 5px 2px gray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px 10px;
}
.content #registerContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". . login . .";
}

#container-register {
    grid-area: login;
}

#register-h3 {
    padding: 10px;
}

.container {
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: 1px 2px 5px 2px gray;
    margin-top: 10px;
    padding: 15px 25px 10px;
    position: center;
}

.language_elem {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

#en {
    grid-area: en;
}

#ru {
    grid-area: ru;
}

.language {
    text-decoration: none;
    color: #212121;
    border: none;
}

nav {
    display: grid;
    background-color: #FFF;
    text-align: center;
}

/* Form Template */
.decor {
    position: center;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}

.form-inner {
    padding: 50px;
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: 1px 2px 5px 2px gray;
    margin-top: 10px;
    padding: 15px 25px 10px;
    position: center;
}
.form-inner input{
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f67373;
    color: white;
    font-size: 14px;
    outline: none;
}
.form-inner input[type="submit"]:hover {
    background: red;
}
.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

/* Desktop Template */
@media screen /*and (min-width: 600px)*/
and (orientation: landscape) {
    .grid {

        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 50px auto 35px;
        grid-template-areas: "h h h h h h h h h h h h h h"
                             ". . . . c c c c c c r r r r"
                             "f f f f f f f f f f f f f f";

    }

    nav {
        grid-template-rows: auto;
        grid-template-areas: ". . l l l l lnk1 lnk1 lnk2 lnk2 log log reg reg en ru . .";
        line-height: 50px;
    }

    .nav a, .language_elem  {
        margin: auto;
        height: 100%;
        width: 100%;
        border-left-style: solid;
        border-right-style: solid;
        border-width: 0.5px;
    }

    .language {
        border-left: 0.5px;
        border-right: 0.5px;
    }

    .footer {
        line-height: 35px;
    }

    .lnk1 {
        border-left-width: 1px;
        border-right-width: 0.5px;
    }

    #en {
        border-right-width: 1px;
        border-left-width: 0.5px;
    }
}

/* Smartphone Template */
@media screen /*and (max-width: 600px)*/
and (orientation: portrait) {
    .grid {
        grid-template-rows: auto auto 3em;
        grid-template-areas:    "h"
                                "c"
                                "f";
        grid-gap: 2em;
    }

    nav {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "l"
                             "l"
                             "lnk1"
                             "lnk2"
                             "log"
                             "reg"
                             "en"
                             "ru";
        line-height: 2em;
        font-size: 3em;
    }

    .nav a {
        margin: auto;
        height: 100%;
        width: 100%;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 0.5px;
    }

    .footer {
        line-height: 2em;
        font-size: 2em;
    }

    .lnk1 {
        border-top-width: 1px;
        border-bottom-width: 0.5px;
    }

    #en {
        border-bottom-width: 1px;
        border-top-width: 0.5px;
    }

    .dialogform input,
    .dialogform textarea {
        line-height: 2.5em;
        font-size: 2.5em;
    }

    .dialogform {
        width: auto;
    }
}
